body {
   font-family: 'Courier New', monospace;
 }

.tile-exit, .tile-wall, .tile-unknown, .tile-portal, .tile, .tile-connect {
   height: 100%;
   width: 100%;
   border-radius: 5px;
   z-index:0;
}

.tile-connect {
   display: flex;
   justify-content: center;
   align-items: center;
}

.tile-connect > img {
   height: 50%;
   width: 50%;
   display: block;
}

img {
   -webkit-user-drag: none;
   user-select: none;
}

.offscreen {
   position: fixed;
   height: 48px;
   width: 48px;
   border-radius: 24px;
   padding: 6px;
   z-index: 4;
}

.offscreen-image {
   height: 100%;
   width:100%;
}
.offscreen-direction {
   height: 25%;
   width:25%;
}

.token, .token-selected{
   z-index: 3;
   display: flex;
   justify-content: center;
   align-items: center;
}


.token > img {
   height: 100%;
   width: 100%;
   display: block;
}

.item {
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
}

.weapon {
   border-radius: 40px;
}


.item > img {
   height: 100%;
   width: 100%;
   display: block;
}

.token-dwarf > img {
   height: 60% !important;
   width: 60% !important;
}


.token-selected > img {
   height: 100%;
   width: 100%;
   display: block;
   background-color: deepskyblue;
   border-radius: 20%;

}

.tile {
  background-color: lightslategray;
  border-color: black;
}

.tile-exit > img {
   height: 100%;
   width: 100%;
   display: block;
}

.connected {
   background-color: lightslategray;
}

.connect-elf, .exit-elf, .elf {
   background-color: limegreen !important;
}

.connect-dwarf, .exit-dwarf, .dwarf{
   background-color: darkorange !important;
}

.connect-barbarian, .exit-barbarian, .barbarian {
   background-color: gold !important;
}

.connect-mage, .exit-mage, .mage {
   background-color: darkorchid !important;
}


.tile-wall {
   background-color: lightslategray;
   display: flex;
}

.tile-wall img {
   height: 100%;
   width: 100%;
   display: block;
}

.tile-portal {
   background-color: lightslategray;
   display: flex;
}

@keyframes flash {
   0%, 50%, 100% {
       opacity: 1;
   }
   25%, 75% {
       opacity: 0.33;
   }
}

.tile-portal .tile-image {
   height: 100%;
   width: 100%;
   display: block;
   animation: flash 3s linear infinite; /* Modify duration (1s) as needed */
}

.tile-unknown {
   background-color: transparent;
}

.board-space {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 14fr;
    height: 100vh;
    overflow: hidden;
    background: lavender;
}

.toolbar {
   display: flex;
   justify-content: space-between;
   background-color: midnightblue;
   font-size: 2rem;
   grid-column: 1 / span 2;
   color: white;
   padding: 10px 20px;
}

#mainPlayer {
   font-size: 48px;
   text-align: left;
   margin-left: 0px;
}

.board-controls {
   padding: 20px;
   display: flex;
   flex-direction: column;
   background-color: steelblue;
   border-color:black;
   border-style: none solid none none;
   border-width: thick;
   overflow-y: auto;
   box-sizing: border-box;
}

.player-self {
   font-weight: bold;
}

.player-other {
   font-weight:lighter;
}

.player-moves {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 8px;
   row-gap: 8px;
}

.toolbar-icon-container {
   display: flex;
   flex-direction: row;
   gap: 4px;
}

.toolbar-icon {
   width: 36px;
   height: 36px;
   background-color: purple;
   border-radius: 12px;
   border: 1px solid white
}

.move-icon > span{
   display: inline-block;
}

.move-icon {
   display:flex;
   flex-direction:column;
   align-items: center;
}

.move-icon > img {
   width: 50%;
}

.escalator {
   z-index: 2;
}

.escalator-img {
   height: 100%;
   width: 100%;
}


.player-bar > .move-icon {
   width: 20%;
   display: inline;
}
.player-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   /**/ 
   justify-content: space-between;
   margin: 10px;
}

.doSomethingButton {
   background: linear-gradient(to right, cornflowerblue, deepskyblue, skyblue); /* Gradient background */
   padding: 0 !important;
   margin-left: auto;
   border: 2px solid navy; /* Button border */
   color: white; /* Text color */
   text-align: center;
   font-size: 24px; /* Exclamation mark size */
   width: 30px; /* Button width */
   height: 30px; /* Button height */
   border-radius: 50%; /* Round shape */
   cursor: pointer;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
   transition: all 0.3s ease 0s; /* Smoothens the hover effect */
 }
 
 .doSomethingButton:hover {
   transform: translateY(-3px);
   box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.5);
 }

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 #root {
   height: 100%;
   margin: 0;
   padding: 0;
 }

.menu, .tutorial {
   background: black;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.menu {
   width: 100%;
   height: 100%;
}

.menu > a {
   color: dodgerblue;
  
}

.gameTitle {
   color: dodgerblue;
   font-size: 5rem;
   margin-bottom: 4rem;
}

.menuSelections {
   display: flex;
   align-items: right;
   flex-direction: column;
}

.menuRow {
   display: flex;
   justify-content: space-evenly;
   gap: 8px;
   margin-bottom: 2em;
}

.tutorial {
   display: flex;
   flex-direction: column;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 10%;
}

.tutorial-content {
   color: white;
}

.header {
   font-size: 3rem;
   text-align: center;
 }
 
 .section {
   margin: 20px 0;
 }

 .section-title {
   color: dodgerblue;
   font-size: 2rem;
}
 
 .section-content {
   font-size: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
 }

 .subsection-content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 32px;
 }

 .content-container {
   display: flex;
   flex-direction: row;
   gap: 20%;
 }
 
 .image {
   width: 100%;
   max-width: 600px;
 }
 
 .conclusion {
   font-style: italic;
 }

.inputText {
   font-size: 2rem;
   padding: 10px 20px;
   border-radius: 5px;
}

.button {
   font-size: 2rem;
   background-color: dodgerblue;
   border: none;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
}

#reset-button {
   background-color: midnightblue;
   margin-top: auto;
}


.bar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
}

.notification{ 
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  color: black;
  background: aqua;
  border: greenyellow;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-bad {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  color: white;
  background: black;
  border: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.timer {
   background: black;
   color: white;
   font-size: 36px;
   text-align: center;
}

.timer-critical {
   background: red;
   color: white;
   font-size: 36px;
   animation: flash 2s linear infinite;
}