.game-board {
   display: grid;
   width: 600px;
   height: 600px;
   margin: auto;
}

.tile {
   border-style: solid;
}

.token-selected {
  background-color: aqua;
  border: red;
  border-style: solid;
}

.token {
  background-color: blue;
}

.tile-exit {
   background-color: orangered;
}

.tile-wall {
   background-color: gray;
}

.board-space {
    display: flex;
}

.player-self {
   font-weight: bold;
}

.player-other {
   font-weight:lighter;
}